{% extends 'base.html' %}

{% block content %}
    <center>
    <h1 >Car Saler Form</h1>
    <form method = 'POST', action="{% url 'car-saler-form' %}">
        {% csrf_token %}
        <table class = 'w-50 table table-light'>
            {% for field in upload_form %}
            <tr>
                <th>{{field.label}}</th>    
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit">Submit</button>&nbsp; <p><a href="{% url 'home' %}">home</a></p>
    </form>
</center>
{% endblock %}