{% block content %}
    <center>
    <h1>Car Buy Form</h1>
    <form method = 'POST' action="{% url 'car-buyer-save'data.id %}">
        {% csrf_token %}
        <table>
            
                <tr><th><label for="id_buyer_name">Buyer name:</label></th><td><input type="text" name="buyer_name" ></td></tr>
                <tr><th><label for="id_buyer_mobile">Buyer mobile:</label></th><td><input type="text" name="buyer_mobile" ></td></tr>
                <tr><th><label for="id_buyer_mobile">email:</label></th><td><input type="text" name="email" ></td></tr>
                <tr><th><label for="id_make">Make:</label></th><td><input type="text" name="make" value="{{data.make}}" disabled></td></tr>
                <tr><th><label for="id_model">Model:</label></th><td><input type="text" name="model" value="{{data.model}}" disabled></td></tr>
                <tr><th><label for="id_year">Year:</label></th><td><input type="number" name="year" value="{{data.year}}" disabled></td></tr>
                <tr><th><label for="id_Condition">Condition:</label></th><td><input type="text" name="Condition" value="{{data.Condition}}" disabled></td></tr>
                <tr><th><label for="id_asking_pricce">Asking pricce:</label></th><td><input type="floatformat" name="asking_price" value="{{data.asking_price}}" disabled></td></tr>
                        
        </table>
        <br>
        <button type="submit" >Submit</button>
        
         &nbsp; <a href="{% url 'home' %}">home</a>

    </form>
</center>
{% endblock %}