{% extends 'base.html' %}
{% block body %}
    <table id = "table">
        <thead>
            <tr>
                <th>id</th>
                <th>saler name</th>
                <th>saler mobile</th>
                <th>email</th>
                <th>make</th>
                <th>model</th>
                <th>year</th>
                <th>condition</th>
                <th>Asking price</th>
                
            </tr>
        </thead>
        <tbody>
            {% for client in users %}
            <tr>
                <td>{{ client.id }}</td>&nbsp;
                <td>{{ client.saler_name }}</td>&nbsp;
                <td>{{ client.saler_mobile  }}</td>&nbsp;
                <td>{{ client.email }}</td>&nbsp;
                <td>{{ client.make }}</td>&nbsp;
                <td>{{ client.model }}</td>&nbsp;
                <td>{{ client.year }}</td>&nbsp;
                <td>{{ client.Condition }}</td>&nbsp;
                <td>{{ client.asking_price }}</td>&nbsp;
                
            </tr>
            
           {% endfor %}
        </tbody>
    </table>
{% endblock %}
